/* CSS FOR BUTTONS */
.btn{
	text-align:center;
	text-decoration: none;
	display:inline-block;
	font-size: 1.3em;
	border:none;
	padding:5px;
	border-radius: 0;
	margin:0;
}

.btn-primary{
	color:white;
	background-color: dodgerblue;
}

.btn-primary:hover{
	color:black;
	border:1px solid dodgerblue;
	background-color: white;
}