header{
  border-bottom:1px solid lightgray;
}

footer{
  background-color: slategray;
  position:fixed;
  bottom:0;
  left:0;
  right:0;
}

/* GENERAL CSS FOR LINKS */
a{
  color: gray;
  text-decoration:none;
}
a:hover{
  color:limegreen;
}

/* Some helpers */
.full-width{
  width:100%;
}

.no-vertical-margin{
  margin-top:0;
  margin-bottom:0;
}
