header{
  border-bottom:1px solid lightgray;
}

footer{
  background-color: slategray;
}

/* Menu list horizontal */
ul#navigation-menu{
  list-style-type: none;
}
ul#navigation-menu > li{
  display:inline;
  margin-left:1%;
  margin-right:1%;

  /* Same parameters as p tag */
  font-size: 1.125rem;
  font-weight: 200;
  line-height: 1.8;
}
ul#navigation-menu > li > a{
  /* Contours */
  border: 1px solid lightgray;
  padding: 0.5rem;
  border-radius: 5px;

  color: gray;
  text-decoration: none;
}
ul#navigation-menu > li > a:hover{
  border: 1px solid limegreen;
}

/* GENERAL CSS FOR LINKS */

a{
  color: gray;
  text-decoration:none;
}
a:hover{
  color:limegreen;
}

/* Some helpers */
.full-width{
  width:100%;
}