table{
  z-index:1;
}
table#opec-table, table#opec-data{
  border-collapse:collapse;
  width:100%;
  text-align:center;
}

table, th, td{
  border: 1px solid lightgray;
}

table#opec-table thead{
  background-color:cornflowerblue;
}

table#opec-data thead{
  background-color: crimson;
}

table#opec-data td:first-child{
  background-color: gainsboro;
}
